<div class="page-header"><h3>Reset Password</h3></div>

<form name="regForm" ng-hide="reset.hide" class="form-group" ng-submit="reset.regUser(regData, regForm.$valid)" novalidate>

    <div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
        <!-- Password Input -->
        <label>Password:</label>
        <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstPassword" placeholder="Password" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" required>
        <!-- Password Validation -->
        <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
            <li>Must contain at least one upper case letter</li>
            <li>Must contain at least one lower case letter</li>
            <li>Must contain at least one number</li>
            <li>Must contain at least one special character</li>
            <li>Must contain at least 8 characters but no more than 35</li>
        </ul>
    </div>

	<br>

    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <!-- Confirm Password Input -->
        <label>Confirm Password:</label>
        <input ng-disabled="reset.disabled" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required>
        <!-- Confirm Password Validation -->
        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
    </div>
    <br>
	
	<button ng-disabled="reset.disabled" type="submit" class="btn btn-success">Reset Password</button>
</form>

<div class="jumbotron text-center" ng-show="reset.loading">
	<span class="glyphicon glyjicon-repeat spinner"></span>
	<p>Loading...</p>
</div> 

<div class="row show-hide-mesage animated slideInDown" ng-show="reset.successMsg">
	<div class="alert alert-success">{{reset.successMsg}}</div>
</div>
<br>
<div class="row show-hide-mesage animated slideInDown" ng-show="reset.errorMsg">
	<div class="alert alert-danger">{{reset.errorMsg}}</div>
</div>
